.Button{    
    border:none;
    border-radius: 5px;
    padding: 5px 10px;

    box-shadow: 25px 25px 25px grey;
    margin: 0 25px 25px 0px;

    color: white;
    background-color: skyblue;
    
    font-size: 23px;
    font-weight: 900;
}
.Button img{
    width: 30px;
    height: 30px;
}

.Button:hover{
    background-color: red;
    box-shadow: 15px 15px 25px grey;
    border: 1px solid white;
}

.Button.clicked{
    background-color: green;
    box-shadow: 5px 5px 25px grey;
    border: 1px solid black;
}